
.siteFooter{
	background-image: url(../media/bannerPie.jpeg);
	margin-top: 2rem;
	.siteFooter__linksFotter{
	text-decoration: none;
	color:#353c17;
	}
	.siteFooter__linksFotter:hover {
	color:white;
	transform: scale(1.8);
	}
}



/*
#piePagina{  
	color: #49654C;
	font-size: 300;
	height: 10rem;
	text-align: center;
	text-orientation: center ;
	padding-top: 10vh;
	grid-area:  footer;
	background-image: url(../media/bannerPie.jpeg); #eec971;
	margin-top: 2vh;
	color: #49654C;
	a{
	text-decoration:  none;
	padding: 10vw 10vw 0vw 10vw;
	transition: 3s;
	}
}*/