
.siteFooter{
	//background-image: url(../media/bannerPie.jpeg);
	background: linear-gradient(to top, #be988e,#fffafa);
	.siteFooter__linksFotter{
	text-decoration: none;
	color:#353c17;
	}
	.siteFooter__linksFotter:hover {
	color:#353c17;
	transform: scale(1.8);
	}
}

#textFotter{
	font-size:0.7rem;
	display:flex;
	flex-direction:row;
	justify-content:space-evenly;
	margin-top:2.5rem;
	margin-bottom: -2rem;
}


/*
#piePagina{  
	color: #49654C;
	font-size: 300;
	height: 10rem;
	text-align: center;
	text-orientation: center ;
	padding-top: 10vh;
	grid-area:  footer;
	background-image: url(../media/bannerPie.jpeg); #eec971;
	margin-top: 2vh;
	color: #49654C;
	a{
	text-decoration:  none;
	padding: 10vw 10vw 0vw 10vw;
	transition: 3s;
	}
}*/