@import "mixin";



.camposInputs{
	padding: 1rem;
	margin: 3rem;
	@include sizes(15rem,2rem);
}

.camposInputs:hover{
	border-color:  #bf7a68;
}

.formOrganizacion{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.textArea{
	@include sizes(60vh,30vh);
}


.volverFormulario{
	height: 20rem;
	a{
	text-decoration: none;
	margin-left: 10rem;
	padding: 2rem;
	}
}

.buttonForm{
	border: ridge;
	text-decoration: none;
	background: linear-gradient(to top, #ddd3c3, white );
	color: black;
	margin: 5rem;
	border-radius: 1rem;
	@include sizes(6rem,3rem);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.buttonForm:hover {
	border: none;
	text-decoration: none;
	background: linear-gradient(to top,#ddd3c3, #bf7a68 );
	color: #4a5658;
	margin: 5rem;
	border-radius: 1rem;
	@include sizes(6rem,3rem);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



legend{
	margin-left:1rem;
}