/*contiene todo lo referido al banner, texto introducido en el banner y texto introductorio*/
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');


$colorNarajaLetras: #e3bf62;

.titulo{
	color:#66921b;
	 font-weight: 400;
	 font-size:2rem;
}

.subtitulos{
	font-weight:400;
	font-size:1.5rem;
	color: #bf7a68;
}


.introductoryText{
	padding: 0rem 2rem 2rem 2rem;
	p{
		font-family: caveat;
    	font-weight: 700;
    	font-size:1.2rem;
    	color:#926e68;
    	color:#a8979a; /*gris*/
	}	
}