/*contiene todo lo referido al banner, texto introducido en el banner y texto introductorio*/
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');


$colorNarajaLetras: #e3bf62;

.titulo{
	color:#66921b;
	 font-weight: 400;
	 font-size:2rem;
}

.subtitulos{
	margin:4rem;
	font-weight:400;
	font-size:1.5rem;
	color: #bf7a68;
	text-align:center;
	display:block;
}


.subtitulosSinMargen{
	margin:1rem;
	font-weight:400;
	font-size:1.5rem;
	color: #bf7a68;
	text-align:center;
}


.introductoryText{
	padding: 0rem 2rem 2rem 2rem;
	grid-area:txtInt;
	p{
		font-family: caveat;
    	font-weight: 700;
    	font-size:1.3rem;
    	color:#a8979a;
	}	
}


.miLogo{
	margin-right: 50px;
	display: block;
	margin:inherit;
}

.bg-bodyHome{
background-color: #fefefe;
}

