.cuerpoCuadricula{
	grid-area: txtCuerpo;
}

#nav {
	grid-area:nav;
}

#banner {
	grid-area:banner;
}

#introductorio {
	grid-area: txtInt;
}

#footer {
	grid-area:footer;
}


/* Inicio Mobile First Max*/

@media only screen and (max-width: 576px) {
    
   .grillaPadreMax{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt"
	"txtCuerpo"
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 20rem 135rem 30rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}  
}

@media only screen and (min-width: 576px) {
    
   .grillaPadreMax{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt"
	"txtCuerpo"
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 12rem 135rem 30rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}  
}

@media only screen and (min-width: 768px)  {
    
   .grillaPadreMax{
	height: 100vh;
	display: grid;
	grid-template-areas:
	"nav "
	"banner  "
	"txtInt "
	"txtCuerpo "
	" footer ";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 12rem 140rem 15rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
} 

}

@media only screen and (min-width: 1024px) {
.grillaPadreMax{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt "
	"txtCuerpo "
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 10rem 120rem 12rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}
}
/* Fin Mobile First Max*/


/* Inicio Mobile First Min*/

@media only screen and (max-width: 576px) {
    
   .grillaPadreMin{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt"
	"txtCuerpo"
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 45rem 12rem 155rem 30rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}  
}

@media only screen and (min-width: 576px) {
    
   .grillaPadreMin{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt"
	"txtCuerpo"
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 12rem 155rem 30rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}  
}

@media only screen and (min-width: 768px)  {
    
   .grillaPadreMin{
	height: 100vh;
	display: grid;
	grid-template-areas:
	"nav "
	"banner  "
	"txtInt "
	"txtCuerpo "
	" footer ";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 12rem 110rem 12rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
} 

}

@media only screen and (min-width: 1024px) {
.grillaPadreMin{
	height: 100vh;
	display: grid;
	grid-template-areas:  /*EN EL INSPECTOR PONGO GRID Y ME MARCA LA LINEAAS PUNTEADAS*/
	"nav "
	"banner "
	"txtInt "
	"txtCuerpo "
	" footer";
	grid-template-columns: 1fr;
	grid-template-rows: 8rem 40rem 10rem 100rem 12rem;
	/*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
	justify-items:stretch;
	/*align-content: end;*/
}
}
/* Fin Mobile First Min*/