@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


$varWidth:20vw;

@mixin sizeImag($tipoImagen) {
	@if $tipoImagen==mediana{
			width:($varWidth)+5;
			border-radius: 1rem;
	}@else if $tipoImagen==grande{
		width:($varWidth)+10;
		border-radius: 1rem;
	}@else if $tipoImagen==pequenia{
		width:($varWidth);
		border-radius: 1rem;
	}@else{
		width:$varWidth;
	}
}

@mixin sizes($width,$height) {
	width: $width;
	height: $height;
}

$banner:(
	Naranja: bannerFinal,
	Celeste: banner11
	);

@each $pagina, $path in $banner{
	.banner#{$pagina}{
		text-align: center ;
		font-weight: 400;
		background-image: url('../media/#{$path}.jpeg');
		height: 40rem;	
		background-size: cover;
		vertical-align: center;
		p{
		font-weight: 700;
		opacity:1;
		padding-top: 15vh;
		font-size: 4rem;
		animation-duration: 3s;
		animation-name: titilar;
		font-family:Amatic SC;
		color:#f8efe1;
		margin-top:4.8rem;

		}
	}
}

