@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");
.bannerNaranja {
  text-align: center;
  font-weight: 400;
  background-image: url("../media/bannerFinal.jpeg");
  height: 40rem;
  background-size: cover;
  vertical-align: center;
}

.bannerNaranja p {
  font-weight: 700;
  opacity: 1;
  padding-top: 15vh;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: titilar;
  font-family: Amatic SC;
  color: #f8efe1;
  margin-top: 4.8rem;
}

.bannerCeleste {
  text-align: center;
  font-weight: 400;
  background-image: url("../media/banner11.jpeg");
  height: 40rem;
  background-size: cover;
  vertical-align: center;
}

.bannerCeleste p {
  font-weight: 700;
  opacity: 1;
  padding-top: 15vh;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: titilar;
  font-family: Amatic SC;
  color: #f8efe1;
  margin-top: 4.8rem;
}

.siteFooter {
  background-image: url(../media/bannerPie.jpeg);
  margin-top: 2rem;
}

.siteFooter .siteFooter__linksFotter {
  text-decoration: none;
  color: #353c17;
}

.siteFooter .siteFooter__linksFotter:hover {
  color: white;
  transform: scale(1.8);
}

/*
#piePagina{  
	color: #49654C;
	font-size: 300;
	height: 10rem;
	text-align: center;
	text-orientation: center ;
	padding-top: 10vh;
	grid-area:  footer;
	background-image: url(../media/bannerPie.jpeg); #eec971;
	margin-top: 2vh;
	color: #49654C;
	a{
	text-decoration:  none;
	padding: 10vw 10vw 0vw 10vw;
	transition: 3s;
	}
}*/
.cuerpoCuadricula {
  grid-area: txtCuerpo;
}

#nav {
  grid-area: nav;
}

#banner {
  grid-area: banner;
}

#introductorio {
  grid-area: txtInt;
}

#footer {
  grid-area: footer;
}

/* Inicio Mobile First Max*/
@media only screen and (min-width: 576px) {
  .grillaPadreMax {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner " "txtInt" "txtCuerpo" " footer";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 12rem 125rem 20rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

@media only screen and (min-width: 768px) {
  .grillaPadreMax {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner  " "txtInt " "txtCuerpo " " footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 12rem 140rem 15rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

@media only screen and (min-width: 1024px) {
  .grillaPadreMax {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner " "txtInt " "txtCuerpo " " footer";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 10rem 120rem 12rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

/* Fin Mobile First Max*/
/* Inicio Mobile First Min*/
@media only screen and (min-width: 576px) {
  .grillaPadreMin {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner " "txtInt" "txtCuerpo" " footer";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 12rem 125rem 20rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

@media only screen and (min-width: 768px) {
  .grillaPadreMin {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner  " "txtInt " "txtCuerpo " " footer ";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 12rem 100rem 15rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

@media only screen and (min-width: 1024px) {
  .grillaPadreMin {
    height: 100vh;
    display: grid;
    grid-template-areas: "nav " "banner " "txtInt " "txtCuerpo " " footer";
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 40rem 10rem 100rem 12rem;
    /*grid-column-gap: 10px;
	grid-row-gap: 10px;*/
    justify-items: stretch;
    /*align-content: end;*/
  }
}

/* Fin Mobile First Min*/
.bannerNaranja {
  text-align: center;
  font-weight: 400;
  background-image: url("../media/bannerFinal.jpeg");
  height: 40rem;
  background-size: cover;
  vertical-align: center;
}

.bannerNaranja p {
  font-weight: 700;
  opacity: 1;
  padding-top: 15vh;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: titilar;
  font-family: Amatic SC;
  color: #f8efe1;
  margin-top: 4.8rem;
}

.bannerCeleste {
  text-align: center;
  font-weight: 400;
  background-image: url("../media/banner11.jpeg");
  height: 40rem;
  background-size: cover;
  vertical-align: center;
}

.bannerCeleste p {
  font-weight: 700;
  opacity: 1;
  padding-top: 15vh;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: titilar;
  font-family: Amatic SC;
  color: #f8efe1;
  margin-top: 4.8rem;
}

.camposInputs {
  padding: 1rem;
  margin: 3rem;
  width: 15rem;
  height: 2rem;
}

.textArea {
  width: 60vh;
  height: 30vh;
}

.volverFormulario {
  height: 20rem;
}

.volverFormulario a {
  text-decoration: none;
  margin-left: 10rem;
  padding: 2rem;
}

.buttonForm {
  border: none;
  text-decoration: none;
  background: linear-gradient(to top, #efcd86, white);
  color: #49654C;
  padding: 1rem;
  margin-left: 25rem;
  margin-top: 5rem;
  border-radius: 1rem;
  width: 6rem;
  height: 3rem;
}

legend {
  margin-left: 1rem;
}

/*contiene todo lo referido al banner, texto introducido en el banner y texto introductorio*/
.titulo {
  color: #66921b;
  font-weight: 400;
  font-size: 2rem;
}

.subtitulos {
  margin: 4rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #bf7a68;
  text-align: center;
  display: block;
}

.subtitulosSinMargen {
  margin: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #bf7a68;
  text-align: center;
}

.introductoryText {
  padding: 0rem 2rem 2rem 2rem;
  grid-area: txtInt;
}

.introductoryText p {
  font-family: caveat;
  font-weight: 700;
  font-size: 1.3rem;
  color: #926e68;
  color: #a8979a;
  /*gris*/
}

img .miLogo {
  margin-right: 50px;
  display: block;
}

.bg-bodyHome {
  background-color: #fefefe;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.card:hover {
  transform: scale(1.05);
}

.column {
  align-items: center;
  text-align: center;
}

.textoIntro {
  font-size: 1rem;
  color: #565656;
  /*#FACD88;*/
  text-align: center;
  background-color: white;
  align-items: center;
  margin-top: 2rem;
}

.seccionesIntro {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}

/* Inicio flotar elemento */
* {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 900px;
  padding: 32px 64px;
  margin: auto;
}

.social {
  width: 48px;
  position: fixed;
  top: 38rem;
  left: 88rem;
}

/* Fin flotar elemento */
.container {
  width: 75%;
  max-width: 100rem;
  padding: 1rem 2rem;
  margin: auto;
}

.hijoContenidoComunidadFlex p {
  color: #404D49;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 1rem 1rem 1rem 1rem;
  text-align: center;
}

p {
  color: #404D49;
  line-height: 1.5;
  letter-spacing: 1px;
  word-spacing: 3px;
  margin: 1rem 1rem 3rem 1rem;
}

.fotoDinamica {
  filter: sepia(15%);
}

.fotoBorde {
  border-style: none;
}

.fotoBorde:hover {
  border-style: solid;
  color: #a6a6a6;
}

.fotoDinamica:hover {
  filter: sepia(0%);
  transform: scale(1.1);
}

.fotoGiratoria {
  background-color: red;
}

.fotoGiratoria:hover {
  transform: rotateY(180deg);
}

a {
  color: #6E7175;
  text-align: center;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

img {
  width: 100px;
  display: block;
  margin: auto;
}

.fotoMedium {
  width: 25vw;
  border-radius: 1rem;
}

.fotoPequenia {
  width: 20vw;
  border-radius: 1rem;
}

.fotoGrande {
  width: 30vw;
  border-radius: 1rem;
}

ul li {
  list-style-position: inside;
  list-style-type: none;
}

iframe {
  padding-left: 2rem;
}

@keyframes foco {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 2rem;
  }
  100% {
    font-size: 1.5rem;
  }
}

@keyframes titilar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.textoColumn {
  grid-area: txtCuerpo;
}

.textoColumn div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem 1rem 1rem 1rem;
  align-items: center;
  animation-name: titilar;
  animation-duration: 3s;
}

.textoColumn .subtitulos {
  font-weight: 300;
  margin: 4rem;
  font-size: 1.5rem;
  color: #bf7a68;
  text-weight: bold;
}

/* Inicio de utilización de flex en Comunidad*/
.padreContenidoComunidadFlex {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: no-wrap;
  margin: 1rem 2rem 2rem 2rem;
}

.hijoContenidoComunidadFlex {
  padding: 1rem;
  align-content: stretch;
  margin: 1.5rem;
  flex: 1;
  /*utilizo flex para unificaar flex-grow, shrink y basis*/
}

.hijoContenidoComunidadFlex a {
  font-size: 300;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  display: block;
  margin: 1vh;
}

.hijoContenidoComunidadFlex img {
  display: block;
  margin: auto;
}

.hijoContenidoComunidadFlex:hover {
  padding: 1rem;
  align-content: stretch;
  margin: 1rem;
  flex: 1;
  /*utilizo flex para unificaar flex-grow, shrink y basis*/
  transform: scale(1.1);
  background-color: #FFEFD5;
  /*#ddd3cd;*/
  border-radius: 2rem;
}

/* Fin de utilización de flex en Comunidad*/
.margen {
  margin-left: 5rem;
  margin-right: 5rem;
}

.margenMin {
  margin: 2rem;
}
